<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== FAVICON ===============-->
    <link rel="shortcut icon" href="../static/img/crown-solid-24.png" type="image/x-icon">

    <!--=============== BOXICONS ===============-->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet' type="text/css">

    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" type="text/css" href="../static/css/swiper-bundle.min.css">

    <!--=============== CSS ===============-->
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>

    <script src="../static/js/loading.js"></script>

    <title>Royal Assembly</title>
    <style>
        .form-group {
        display: block;
        margin-bottom: 15px;
        }

        .form-group input {
        padding: 0;
        height: initial;
        width: initial;
        margin-bottom: 0;
        display: none;
        cursor: pointer;
        }

        .form-group label {
        position: relative;
        cursor: pointer;
        }

        .form-group label:before {
        content:'';
        background-color: transparent;
        border: 2px solid #C69A6Dff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
        padding: 10px;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
        }

        .form-group input:checked + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 9px;
        width: 6px;
        height: 14px;
        border: solid #C69A6Dff;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
        }
        @media screen and (max-width: 400px) {
            .inputt-field {
                width: 60%;
            }

            .contact__card {
                grid-template-columns: repeat(2, 150px);
                justify-content: center;
            }

            #titlee {
                display: inline-block;
            }
        }


        @media screen and (max-width: 500px) {
            .inputt-field {
                width: 70%;
            }

            #titlee {
                display: inline-block;
            }

            .submitt-btn {
                padding: 10px;
            }

            .contact__card-box {
                width: 300px;
            }

            .inputt-field {
                width: 100%;
            }

            .submitt-btn {
                padding: 10px;
            }
        }

        @media screen and (min-width: 510px) {

            #titlee {
                display: flex;
            }

        }
    </style>
</head>

<body>
    <div class="se-pre-con"></div>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                Royal&nbsp;Assembly
            </a>

            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/admin" class="nav__link">
                            <i class='bx bx-arrow-back'></i>
                            <span>Back</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/" class="nav__link">
                            <i class='bx bx-home-alt-2'></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#change" class="nav__link active-link">
                            <i class='bx bx-transfer'></i>
                            <span>Edit</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/#contact" class="nav__link">
                            <span>Contact</span>
                            <i class='bx bx-phone'></i>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Theme change button -->
            <i class='bx bx-moon change-theme' id="theme-button"></i>

            <a href="#foot" class="nav__button button">Subscribe</a>
        </nav>
    </header>

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== POPULAR ====================-->
        <section class="section" id="popular">
            <div class="contact__container container grid">
    
                <div class="contact__content" id="change">
                    <div class="contact__data">
                        <span class="section__subtitle">Admin panel</span>
                        <h2 class="section__title">
                            Create a<span> new Tournament</span>
                        </h2>
                        <p class="contact__description">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Accusantium ullam officiis, inventore nam necessitatibus pariatur!
                            Fuga reiciendis nobis ipsam deserunt similique ea nam! Eum commodi velit maiores quibusdam id
                            labore.
                        </p>
                    </div>

                        <div class="contact__card-box" style="width: fit-content;">
                            <br>
                            <div class="contact__orbe" style="height: auto; padding: 15px;" id="list">
                                <h3 style="color: #C69A6Dff;">Step 1</h3>
                                <!--<br>
                               
                                {% for i in tour_players %}
                                <div class="contact__card-box" id="cardd" value="{{i.username}},{{i.position}}">
                                    <div id="listt">
                                        <div class="contact__card-info">
                                            <div class="ccard" style="margin: 0px; ">
                                                <div class="img">
                                                    {% if i.filename %}
                                                    <img src="/download/{{i.filename}}">
                                                    {% else %}
                                                    <img src="../static/img/Default_pfp.svg.png">
                                                    {% endif %}
                                                </div>
                                                <div class="infos">
                                                    <div class="name">
                                                        <h2 style="display: inline; margin-right: 20px; font-size: 23px;" {% if i.position==1 %}
                                                            id="gold" {% elif i.position==2 %} id="silver" {% elif i.position==3 %} id="bronze" {%
                                                            else %} id="other" {% endif %}>No.
                                                            {{i.position}}</h2>
                            
                                                        <h2 style="display: inline; margin-right: 50px;"> {{i.username}}</h2>
                                                        

                                                    </div>

                                                    <hr>
                                                    <br>
                                                    
                                                    <div class="links">
                                                        <form action="/remove_from_list/{{i.username}}" method="POST">
                                                            <button type="submit" value="Submit" class="follow">Remove from list</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}-->

                                <br>
                                <div>
                                    <h3 class="contact__card-title" style="margin-top: 5px;">
                                        Name of tournament
                                    </h3>
                                    <br>
                                    <form action="/name_tour" method="POST">
                                        <input type="text" class="inputt-field" placeholder="Name" name="tour_name" required>
                                        <button type="submit" class="submitt-btn" style="margin-top: 20px; width: auto;">Next</button>
                                    </form>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
            <br>
        </section>
    
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer section" id="foot">
        <div class="footer__container container grid">
            <div>
                <a href="" class="footer__logo" style="letter-spacing: 4px;">
                    Royal Assembly <i class='bx bxs-crown'></i>
                </a>
                <p class="footer__description">
                    Our vision is to make all people <br>
                    the best place to live for them.
                </p>
            </div>

            <div class="footer__content">
                <div>
                    <h3 class="footer__title">
                        About
                    </h3>

                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">About Us</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Features</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">News & Blog</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">
                        Company
                    </h3>

                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">How We Work?</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Capital</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Security</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">
                        Support
                    </h3>

                    <ul class="footer__links">
                        <li>
                            <a href="#" class="footer__link">FAQs</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Support center</a>
                        </li>
                        <li>
                            <a href="#" class="footer__link">Contact Us</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h3 class="footer__title">
                        Follow us
                    </h3>

                    <ul class="footer__social">
                        <a href="https://www.facebook.com/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-facebook-circle'></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-instagram-alt'></i>
                        </a>
                        <a href="https://www.pinterest.com/" target="_blank" class="footer__social-link">
                            <i class='bx bxl-pinterest'></i>
                        </a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer__info container">
            <span class="footer__copy">
                &#169; Vaggelisdrak. All rigths reserved
            </span>

            <div class="footer__privacy">
                <a href="#">Terms & Agreements</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </footer>


    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class='bx bx-chevrons-up'></i>
    </a>

    <!--=============== SCROLLREVEAL ===============-->
    <script src="../static/js/scrollreveal.min.js"></script>

    <!--=============== SWIPER JS ===============-->
    <script src="../static/js/swiper-bundle.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="../static/js/main.js"></script>

    <script>
        jQuery.curCSS = function (element, prop, val) {
            return jQuery(element).css(prop, val);
        };
        $(function () {
            $.ajax({
                url: '{{ url_for("autocomplete") }}'
            }).done(function (data) {
                $('#tags2').autocomplete({
                    source: data,
                    minLength: 1
                });
            });
        });
    </script>

    <!--================ Add to list===========
    <script>
        function like(postId) {
                const likeCount = document.getElementById(`likes-count-${postId}`);
                const likeButton = document.getElementById(`like-button-${postId}`);

                fetch(`/like-post/${postId}`, { method: "POST" })
                    .then((res) => res.json())
                    .then((data) => {
                        likeCount.innerHTML = data["likes"];
                        if (data["liked"] === true) {
                            likeButton.className = "fas fa-thumbs-up";
                        } else {
                            likeButton.className = "far fa-thumbs-up";
                        }
                    })
                    .catch((e) => alert("Could not like post."));
            }
    </script>-->

</body>

</html>